{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "> 1%",
          "last 2 versions"
        ]
      },
      "modules": false,
      "loose": true,
      "useBuiltIns": true
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "flow-comments",
    "transform-export-extensions"
  ],
  "env": {
    "cjs": {
      "plugins": ["add-module-exports"]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": true
          },
          "loose": true,
          "useBuiltIns": true
        }],
        "stage-2",
        "react"
      ]
    }
  }
}
